body{
	background-image: url("../images/bk.jpg");
	/*background-size: 1000px 800px;*/
	
}

#datas{
	margin-top:20px;
	border-radius: 10px;
	padding:4%;
	padding-right:0px;
	padding-left:9%;
	padding-top: 70px;
	box-shadow:10px 10px 5px grey;
	background-color: rgba(210,210,210,.5);
	height:320px;
}
#btnsub{
	margin-top:20px;
	padding-left:8%;
	padding-right:8%;
}
#hd{
	margin-top: 140px;
	height:100%;
	font-weight: bold;
	font-size: 14pt;
}
